<!DOCTYPE html>
<html>
<head>


  <title>TodoJs</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>


</head>
<body>


<%= yield %>

<h1>Todo.ly</h1>
<form>
  <input type="text" id="item">
  <button>Create Todo</button>
</form>

<ul></ul>

</body>
</html>
